<div class="rank-header">
  <div class="left-header">
    <div class="header-title">
      hogefuga
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
      <a href="#">投票を終了する</a>
    </div>
  </div>
</div>

<div class="votes">
  <div class="vote">
    <div class="upper-vote">
      <div class="vote-user">
        Tom
      </div>
      <div class="vote-date">
        2020/3/31(Wed) 12:43:30
      </div>
    </div>
    <div class="lower-vote">
      <div class="vote-content">
        おはよう
      </div>
    </div>
  </div>

  <div class="vote">
    <div class="upper-vote">
      <div class="vote-user">
        Tom
      </div>
      <div class="vote-date">
        2020/3/31(Wed) 12:47:30
      </div>
    </div>
    <div class="lower-vote">
      <div class="vote-content">
        こんばんは
      </div>
    </div>
  </div>
</div>

<div class="form">
  <div class="form-input">
    <input class="form-vote" placeholder= "ranking a message">
  </div>
  <input class="form-submit" type="submit" value="送信">
</div>  