<div class="side-bar-header">
  <div class="header-name">
    <%= link_to current_user.nickname, edit_user_path(current_user) %>
  </div>
  <div class="create-ranking">
    <%= link_to "ランキングを作成する", new_ranking_path %>
  </div>
</div>

<div class="rankings">
  <% current_user.rankings.each do |ranking| %>
    <div class="ranking">
      <div class="ranking-name">
        <a href="#"><%= ranking.title %></a>
      </div>
    </div>
  <% end %>
</div>