<div class="side-bar-header">
  <div class="header-name">
    <%= link_to current_user.nickname, edit_user_path(current_user) %>
  </div>
  <div class="create-ranking">
    <a href="#">ランキングを作成する</a>
  </div>
</div>
<div class="rankings">
  <div class="ranking">
    <div class="ranking-name">
      <a href="#">techroom1</a>
    </div>
  </div>
  <div class="ranking">
    <div class="ranking-name">
      <a href="#">techroom2</a>
    </div>
  </div>
</div>